html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
    margin: auto;
    text-align: center;
}

header, footer {
    background: #707070;
}

section {
    width: 65%;
    margin: auto;
}

.m-auto {
    margin: auto;
}

.p-top-69 {
    padding-top: 69px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 39px 41px;
}