html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
    margin: auto;
    text-align: center;
}

header, footer, nav {
    background: #707070;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 215px));
    justify-content: center;
}

section {
    width: 65%;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 39px 41px;
}

.m-auto {
    margin: auto;
}

.m-20 {
    margin: 20px;
}

.mb-auto {
    margin-bottom: auto;
}

.p-50 {
    padding: 50px;
}

.p-top-69 {
    padding-top: 69px;
}

.text {
    font-style: normal;
    font-variant: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight: normal;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #888888;
}

.size-1 {
    font-size: 12px;
    line-height: 14px;
}

.size-2 {
    font-size: 12px;
    line-height: 16px;
}

.size-3 {
    font-size: 12px;
    line-height: 18px;
}

.size-4 {
    font-size: 14px;
    line-height: 16px;
}

.size-5 {
    font-size: 16px;
    line-height: 16px;
}

.size-6 {
    font-size: 18px;
    line-height: 16px;
}

.size-7 {
    font-size: 20px;
    line-height: 24px;
}

.size-8 {
    font-size: 40px;
    line-height: 49px;
}

.button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

.shadow {
    box-shadow: 0px 1px 6px #00000029;
}