.m-auto {
    margin: auto;
}

.m-20 {
    margin: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-auto {
    margin-bottom: auto;
}

.p-50 {
    padding: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.full-width {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight: normal;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #888888;
}

.size-1 {
    font-size: 12px;
    line-height: 14px;
}

.size-2 {
    font-size: 12px;
    line-height: 16px;
}

.size-3 {
    font-size: 12px;
    line-height: 18px;
}

.size-4 {
    font-size: 14px;
    line-height: 16px;
}

.size-5 {
    font-size: 16px;
    line-height: 16px;
}

.size-6 {
    font-size: 18px;
    line-height: 16px;
}

.size-7 {
    font-size: 20px;
    line-height: 24px;
}

.size-8 {
    font-size: 40px;
    line-height: 49px;
}

.flex {
    display: flex;
}

.inherit {
    display: inherit;
}

.inline-flex {
    display: inline-flex;
}

.vertical-text-bottom {
    vertical-align: text-bottom;
}