html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
    margin: auto;
    text-align: center;
}

header, footer, nav {
    background: #707070;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 215px));
    justify-content: center;
}

nav a {
    box-shadow: 0px 1px 6px #00000029;
}

section {
    width: 65%;
    margin: auto;
}

article {
    text-align: left;
}

label {
    display: inherit;
    font: normal normal normal 12px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888888; 
    margin-bottom: 5px;
}

#header {
    padding-top: 69px;
}

#algorithm article {
    width: 60%;
}

#algorithm form {
    text-align: left;
    width: 40%;
}

#algorithm form .text-input {
    display: inherit;
    margin-bottom: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 10%;
}

#chevron-icon {
    visibility: hidden;
    float: right;
}

#products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 39px 41px;
    margin-top: 50px;
    margin-bottom: 52px;
}

#products-list img {
    width: 100%;
    border: 1px solid #707070;
}

.text {
    font-style: normal;
    font-variant: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

.button:hover {
    cursor: pointer;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
}

.section-title::before, .section-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #707070;
}

.section-title::before {
    margin-right: 20px;
}

.section-title::after {
    margin-left: 20px;
}

@media only screen and (max-width: 900px) {

    header {
        text-align: left;
        padding-left: 20px;
    }

    section {
        width: 90%;
    }

    #algorithm {
        display: block;
    }

    #algorithm article {
        width: 100%;
    }

    #algorithm form {
        padding: 0;
        width: 100%;
    }

    #chevron-icon {
        visibility: visible;
    }
}

@media only screen and (max-width: 500px) {

    #prod-description {
        display: none;
    }

    #products-list article {
        width: 100%;
    }

    #products-list picture {
        float: left;
        width: 40%;
    }

    #products-list img {
        width: 100%;
        border: 1px solid #707070;
    }
    
    #product-info {
        float: right;
        width: 55%;
    }
    
    #product-info h2 {
        margin-top: 0;
    }

    #product-info a {
        margin-top: 9%;
        padding: 3%;
    }

}