html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: center;
    padding: 3em;
    background: transparent;
}

nav a {
    box-shadow: 0px 1px 6px #00000029;
    width: 10em;
    margin: 2%;
}

section {
    width: 65%;
    margin: auto;
}

article {
    text-align: left;
}

form {
    text-align: left;
}

label {
    display: inherit;
    font: normal normal normal 12px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888888; 
    margin-bottom: 5px;
}

footer {
    padding-top: 10%;
    padding-bottom: 5%;
    background: #707070;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
}

#background-effect {
    height: 27em;
    background: #707070;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
    position: relative;
}

#header-nav {
    margin-top: -27em;
    position: relative;
    margin-bottom: 5em;
}

#algorithm article {
    width: 60%;
}

#algorithm form {
    width: 40%;
    padding-left: 5%;
    margin-top: 1em;
}

#algorithm form .text-input {
    display: inherit;
    margin-bottom: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 2em;
    width: 100%;
}

#chevron-icon {
    visibility: hidden;
    float: right;
}

#products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-gap: 39px 41px;
    margin-top: 50px;
    margin-bottom: 52px;
}

#products-list img {
    width: 100%;
    border: 1px solid #707070;
}

#load-products {
    display: none;
}

#newsletter h5 {
    margin-top: 35px;
}

#friend-form {
    text-align: center;
    margin-top: 60px;
}

#friend-fields {
    display: flex;
    justify-content: center;
}

#friend-fields .text-fields{
    width: 30%;
    margin-bottom: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: left;
}

#friend-fields input{
    width: 100%;
    border: 1px solid #707070;
    height: 2em;
}

#friend-email-field {
    margin-left: 10%;
}

#friend-send {
    width: 22em;
    margin-top: 2em;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
}

.section-title::before, .section-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #707070;
}

.section-title::before {
    margin-right: 20px;
}

.section-title::after {
    margin-left: 20px;
}

@media only screen and (max-width: 900px) {

    header {
        text-align: left;
        padding-left: 20px;
    }

    nav {
        display: grid;
        justify-content: center;
        padding: 1em;
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    }

    nav a {
        box-shadow: 0px 1px 6px #00000029;
        width: 9em;
        margin: 5%;
    }

    section {
        width: 90%;
    }

    footer {
        padding-top: 20%;
        padding-bottom: 5%;
        clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
    }

    #header-nav {
        margin-top: -27em;
        position: relative;
        margin-bottom: 10em;
    }

    #newsletter h5 {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 500px) {

    #header-nav {
        margin-top: -27em;
        position: relative;
        margin-bottom: 5em;
    }

    #algorithm {
        display: block;
    }

    #algorithm article {
        width: 100%;
    }
    
    #algorithm article h3{
        font-size: 1em;
        line-height: 24px;
    }

    #algorithm form {
        padding: 0;
        width: 100%;
    }

    #chevron-icon {
        visibility: visible;
    }

    #prod-description {
        display: none;
    }

    #products-list article {
        width: 100%;
    }

    #products-list picture {
        float: left;
        width: 40%;
    }
  
    #product-info {
        float: right;
        width: 55%;
    }
    
    #product-info h2 {
        margin-top: 0;
    }

    #product-info a {
        margin-top: 9%;
        padding: 3%;
    }

    #friend-form {
        text-align: center;
        margin-top: 30px;
    }

    #friend-fields {
        display: block;
    }

    #friend-fields .text-fields{
        width: 100%;
        margin-bottom: 15px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        text-align: left;
    }

    #friend-email-field {
        margin-left: 0;
    }
}