html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
    margin: auto;
    text-align: center;
}

header, footer, nav {
    background: #707070;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 215px));
    justify-content: center;
}

nav a {
    box-shadow: 0px 1px 6px #00000029;
}

section {
    width: 65%;
    margin: auto;
}

label {
    display: inherit;
    font: normal normal normal 12px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888888; 
    margin-bottom: 5px;
}

#header {
    padding-top: 69px;
}

#algorithm {
    text-align: left;
}

#algorithm article {
    width: 60%;
}

#algorithm form {
    width: 40%;
}

#algorithm form .text-input {
    display: inherit;
    margin-bottom: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 10%;
}

#chevron-icon {
    visibility: hidden;
    float: right;
}

#products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 39px 41px;
}

.text {
    font-style: normal;
    font-variant: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

@media only screen and (max-width: 900px) {

    section {
        width: 80%;
    }

    #algorithm {
        display: block;
    }

    #algorithm article {
        width: 100%;
    }

    #algorithm form {
        padding: 0;
        width: 100%;
    }

    #chevron-icon {
        visibility: visible;
    }
}