<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="../public/email.js"></script>

        <link rel="stylesheet" href="../assets/global.css">
        <link rel="stylesheet" href="../assets/email.css">
        
        <title>E-mail Produtos</title>
    </head>
    <body>
        <div id="email">
            
            <div id="background-effect">
                <!-- Background effect on header and nav -->
            </div>
    
            <div id="header">
                <header class="text white">
                    <h1 class="m-auto regular size-7">uma seleção de produtos</h1>
                    <h3 class="m-auto size-8">especial para você</h3>
                    <h5 class="mb-auto regular size-4">
                        Todos os produtos desta lista foram selecionados 
                        a partir da sua navegação. Aproveite!
                    </h5>
                </header>
            </div>

            <section id="general">
                <article class="text grey">
                    <h3 class="regular size-7"> Olá, Fulano</h3>
                    <p class="size-2">
                        Fizemos uma lista especial de produtos apenas para você. 
                        Isso mesmo: nesta lista temos só produtos que você pode gostar. 
                        Seu amigo Ciclano lhe recomendou essa lista especial. Olha só:
                    </p>
                </article>

                <div id="products-list">
                    <!-- Products here -->
                </div>

                <a id="more-products" class="button text grey" onclick="goToLandingPage()">Tem muito mais aqui. Vem ver!</a>

            </section>

            <footer class="mt-90 text white size-1">
                <p>Testando suas habilidades em HTML, CSS e JS.</p>
                <p>Linx Impulse</p>
                <p>2019</p>
            </footer>

        </div>
    </body>
</html>