<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/index.css">
        <title>Produtos</title>
    </head>
    <body>
        <header>
            <h3>uma seleção de produtos</h3>
            <h1>especial para você</h1>
            <h5>
                Todos os produtos desta lista foram selecionados 
                a partir da sua navegação. Aproveite!
            </h5>
        </header>

        <nav>
            <a href="https://www.linx.com.br/" target="__blank">Conheça a Linx</a>
            <a href="#algorithm">Ajude o algorítimo</a>
            <a href="#products">Seus produtos</a>
            <a href="#newsletter">Compartilhe</a>
        </nav>

        <section id="algorithm">

        </section>

        <section id="products">

            <h3>Sua seleção especial</h3>

            <div class="grid">

                <article>
                    <a>
                        <picture>
                            <img src="" alt="Teste">
                        </picture>
                        <div>
                            <h2>Vacation Image 01</h2>
                            <p>TUX re-inventing the wheel, and move the needle.</p>
                        </div>
                    </a>
                    <a>Comprar</a>
                </article>
                <article>
                    <a>
                        <picture>
                            <img src="" alt="Teste">
                        </picture>
                        <div>
                            <h2>Vacation Image 01</h2>
                            <p>TUX re-inventing the wheel, and move the needle.</p>
                        </div>
                    </a>
                    <a>Comprar</a>
                </article>
                <article>
                    <a>
                        <picture>
                            <img src="" alt="Teste">
                        </picture>
                        <div>
                            <h2>Vacation Image 01</h2>
                            <p>TUX re-inventing the wheel, and move the needle.</p>
                        </div>
                    </a>
                    <a>Comprar</a>
                </article>
                <article>
                    <a>
                        <picture>
                            <img src="" alt="Teste">
                        </picture>
                        <div>
                            <h2>Vacation Image 01</h2>
                            <p>TUX re-inventing the wheel, and move the needle.</p>
                        </div>
                    </a>
                    <a>Comprar</a>
                </article>
                <article>
                    <a>
                        <picture>
                            <img src="" alt="Teste">
                        </picture>
                        <div>
                            <h2>Vacation Image 01</h2>
                            <p>TUX re-inventing the wheel, and move the needle.</p>
                        </div>
                    </a>
                    <a>Comprar</a>
                </article>
                <article>
                    <a>
                        <picture>
                            <img src="" alt="Teste">
                        </picture>
                        <div>
                            <h2>Vacation Image 01</h2>
                            <p>TUX re-inventing the wheel, and move the needle.</p>
                        </div>
                    </a>
                    <a>Comprar</a>
                </article>

            </div>
            
            <a>Ainda mais produtos aqui!</a>
            
        </section>

        <section id="newsletter">

            <h3>Compartilhe a novidade</h3>

            <p>Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</p>

            <form>
                <label for="friend-name">Nome do seu amigo:</label>
                <input type="text" id="friend-name" name="friend-name"><br><br>

                <label for="friend-email">E-mail:</label>
                <input type="text" id="friend-email" name="friend-email"><br><br>

                <input type="submit" value="Enviar agora">
            </form>

        </section>
        
        <footer>
            <p>Testando suas habilidades em HTML, CSS e JS.</p>
            <p>Linx Impulse</p>
            <p>2019</p>
        </footer>
    </body>
</html>