<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h3>uma seleção de produtos</h3>
            <h1>especial para você</h1>
            <h5>
                Todos os produtos desta lista foram selecionados 
                a partir da sua navegação. Aproveite!
            </h5>
        </header>

        <footer>
            <p>Testando suas habilidades em HTML, CSS e JS.</p>
            <p>Linx Impulse</p>
            <p>2019</p>
        </footer>
    </body>
</html>